@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

/*Banner and title*/

.containerContent{
	position:relative;
	overflow:hidden;
  font-family: 'Lato'!important;
  font-size:14pt;
}

/*Vision*/
.vision{
  position:relative;
  text-align:left;
  color:#000;
  background-color:white;
  width:90%;
  margin:0 auto;
  padding:30px;
  transition:0.3s;

}

.vision h2{
  font-size:30pt;
  color:#e62827;
}

.visionImg{
  display:block;
}

.visionImgActivated{
  display:none;
}

.vision:hover .visionImg{display:none;}
.vision:hover .visionImgActivated{display:block;}


/*Director*/

.containerDirector{
	position:relative;
	background-color:rgb(174, 15, 14);
  color:white;
  width:90%;
  margin:0 auto;
  padding:30px;
  overflow:hidden;
  text-align:right;
  transition:0.3s;
  z-index:2!important;
}

.containerDirector a{color:black!important;}}

.containerDirector h2{
	font-size:30pt;
}

.dirName{
	font-size:25pt;
	color:white;
}

.containerDirector:hover .dirName{
	color:black;
}

.containerDirector:hover .dirContact{
	color:black;
}

.directorImg{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	z-index:-1;
	opacity:0.3;
	transition:0.3s;
	height:100%;
  width:100%;
}

.containerDirector:hover .directorImg{opacity:0;}

.directorDes {
    color:white;
    font-size:20pt;
    padding-left:10%;
}

.dirContact{
	font-size:20pt;
}



/*Roles | White background*/

.containerRolls1{
	position:relative;
	text-align:center;
	color:#d51821;
	background-color:white;
	width:90%;
  margin:0 auto;
  padding:30px;
}

/*Roles | Scarlet background*/
.containerRolls2{
	text-align:center;
	background-color:rgb(174, 15, 14);
	color:white;
	width:90%;
  margin:0 auto;
  padding:30px;
}


/*contact Us*/
.contactUs{
	text-align:left;
  font-size:18px;
	background-color:black;
	color:white;
	width:100%;
  margin:0 auto;
  padding:30px;
}

.bgImg{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	opacity:0.7;
	height:100%;
}

.containerContent{

}

@media screen and (max-width:800px){
  .directorDes{font-size:13pt;}
  .containerContent {font-size:13pt;}

  .dirContact{
    font-size:15pt;
  }
}

@media screen and (max-device-width:1020px){
  .visionImg{display:none;}
  .visionImgActivated{display:block;}
}
