/*Banner Title and top navigation*/

/*Banner*/
.logo{
	display:inline;
	height:350px;
}

/*Dropdown menu*/
.dropNav{
	position:relative;
	margin-top:125px;
	display:inline-block;
	transition: 0.5s;
	z-index:100;
	transition: all 0s;
}

.dropNav td{
	text-align:center;
  vertical-align:middle;
}

.navArrow2{
	padding-top:10px;
	padding-bottom:10px;
	opacity:1;
	display: block;
	height:60px;
	transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
}

.navArrow2show{
	opacity:0;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}


/* - Title*/

.navButton{
	background-color: white;
	border:none;
	color:#e62827;
	width:500px;
}

h1.titleTop{
	margin-top:10px!important;
	font-size:35pt!important;
	font-family: sans-serif;
	width:100%;
	line-height:50px!important;
}


.dropLinks{
	visibility:hidden;
	position:absolute;
	background-color:rgba(0,0,0,0.85);
	opacity:0;
	min-width:100%;
	top:100%;
	left:0;
	transform:translateY(10%);
	-webkit-transform:translateY(10%);
	-ms-transform:translateY(10%);
	transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.dropLinksShow{
	visibility:visible;
	opacity:1;
	transform:translateY(0%);
	-webkit-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transition-delay:0s;
}

.dropLinks a{
	text-decoration:none!important;
	color:white!important;
	font-size:25px;
	padding:12px 16px;
	display:block;
}

.dropLinks a:hover{
	background-color:#e62827;
}

@media screen and (max-width:1199px){
	.dropNav{margin-top:0px;}
}


@media screen and (max-width:767px){
	.navButton{
		width:auto;
	}
	h1.titleTop{
		font-size:8.9vw!important;
		line-height:100%!important;
	}

	.dropNav table{
		margin-left:10%;
	}


	.navArrow2{
		height:70px;
	}
}
