/*Banner Title and top navigation*/

/*Banner*/
.bannerImg{
	display:inline
}

.bannerImgMobile{
	display:none;
}	
/*Title*/
h1.titleTop{
	margin-top:10px!important;
	font-size:35pt!important;
	color:#e62827;
	font-family: sans-serif;
}

/*Dropdown menu*/
.dropNav{
	position:relative;
	display:inline-block;
	transition: 0.5s;
	z-index:10;
}

.dropNav:hover .dropLinks{
	visibility:visible;
	opacity:1;
	transform:translateY(0%);
	-webkit-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transition-delay:0s;
}


.dropNav:hover .navArrow2{
	opacity:0;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

.dropNav td{
	text-align:center; 
    vertical-align:middle;
}

.navArrow2{
	padding-top:15px;
	padding-bottom:10px;
	opacity:1;
	transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
	display: block;
	height:60px;
}

.dropLinks{
	position:absolute;
	background-color:rgba(0,0,0,0.85);
	visibility:hidden;
	min-width:100%;
	opacity:0;
	top:75%;
	left:0;
	transform:translateY(10%);
	-webkit-transform:translateY(10%);
	-ms-transform:translateY(10%);
	transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.dropLinks a{
	text-decoration:none!important;
	color:white!important;
	font-size:25px;
	padding:12px 16px;
	display:block;
}

.dropLinks a:hover{
	background-color:#e62827;
}

@media screen and (max-width:991px){
	h1.titleTop{font-size:25pt!important;}
}


@media screen and (max-width:767px){
	.bannerImg{
		display:none;
	}
	.bannerImgMobile{
		display:inline;
	}	
	
	h1.titleTop{
		font-size:8.9vw!important;
		line-height:100%!important;	
	}
	
	.dropNav table{
		margin-left:13%;
	}
	
	.dropNav:hover .dropLinks{
		transform:translateY(15%);
		-webkit-transform:translateY(15%);
		-ms-transform:translateY(15%);
	}
	
	.navArrow2{
		height:70px;
	}
